<%= form_with(model: @outfit) do |form| %>
  <% if @outfit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
        <% @outfit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.fields_for :outfit_items_attributes, index: nil do |outfit_item_form| %>
      <% Item.all.each do |item| %>
        <%= outfit_item_form.check_box :item_id, {}, item.id, nil %>
        <%= outfit_item_form.label :item_id, item.details %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>bv
  <div>
    <%= form.label :date_made %>
    <%= form.date_field :date_made %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
