<div id="<%= dom_id item %>">
  <p>
    <strong>Photo url:</strong>
    <img class="img-thumbnail" style="width: 200px; height: 150px;" src="<%= item.photo_url %>">
  </p>

  <p>
    <strong>Color hex:</strong>
    <%= item.color_hex %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= item.details %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= item.user.email %>
  </p>

</div>
