<div id="<%= dom_id item %>">
  <p>
    <strong>Photo url:</strong>
    <%= item.photo_url %>
  </p>

  <p>
    <strong>Color hex:</strong>
    <%= item.color_hex %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= item.details %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= item.owner_id %>
  </p>

</div>
