<div id="<%= dom_id item %>">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 30rem;">
      <div class="card-body text-center">
        <h1 class="card-title fs-5">Item Details</h1>

        <p>
          <h3>
          <strong>Name:</strong>
          <%= item.details %>
          </h3>
        </p>

        <p>
          <strong>Photo:</strong>
        </p>
          <img class="img-thumbnail" src="<%= item.photo_url %>">

        <p>
          <h3>
          <strong>Color:</strong>
          <%= item.color_hex %>
          </h3>
        </p>

        <p>
          <strong>Owner:</strong>
          <%= item.user.email %>
        </p>
      </div>
    </div>
  </div>

</div>
