<p style="color: green"><%= notice %></p>
<%# if policy(@item).show? %>
<%= link_to "New item", new_item_path %>
<div class="row row-cols-1 row-cols-md-3 g-4" id="outfit_items">
  <% @items.each do |item| %>
    <div class="col">
      <div class="card">
        <% if item.present? %>
          <img src="<%= item.photo_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= item.details %></h5>
            <%= link_to "Show this outfit item", item %>
          </div>
        <% else %>
          <div class="card-body">
            <p class="card-text">No associated item</p>
            <%= link_to "Show this outfit item", item %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%# end %>
</div>
