<!DOCTYPE html>
<html>
  <head>
    <title>You Pick</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'style', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Cambo|Roboto:300" rel="stylesheet">
    <%= render partial: "shared/cdn_assets" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= yield %>
    <%#= render partial: "shared/footer" %>
  </body>
  
</html>
